body{
    background-size: cover;
    margin: 0 auto;
    background-image: url("../homework7/images/bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1366px;
    margin: 0 auto;
}
.containerTop{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin-top: 49px;
    margin-left: 155px;
    width: 166px;
}
.white{
    position: absolute;
    z-index: 1;
}
.orange{
     z-index: -1;
 }
.white:hover {
    z-index: -1;
}
.orange:hover, .logo:hover a {
    z-index: 1;
    color: #f26522;
}
.header a{
    position: relative;
    top: -9px;
    left: 15px;
    color: #ffffff;
    font-family: Verdana;
    font-weight: 700;
}
.milan{
    font-size: 29px;
}
.holidays {
    font-size: 18px;
}
.contacts{
    display: flex;
    flex-direction: column;
    margin-right: 147px;
    margin-top: 57px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.phone{
    display: flex;
    justify-content: flex-end;
}
.flex-container {
    margin: 0 auto;
    width: 1064px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab21{
    transition: 0.7s;
    opacity: 0;
    bottom: 61px;
    width: 311px;
    height: 63px;
    position: absolute;
    background-color: #f26522;
}
.tab21:hover{
    transition: 0.7s;
    opacity: 1;

}
.border{
    border: 2px solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
}
.pictures {
    border-top: 2px solid white;
    position: relative;
}
.pictures:hover a{
    transition: 0.7s;
    color: #f26522;
}
.pictures:hover .tab21 {
    opacity: 1;
}

.info{
    margin-top: 14px;
    margin-left: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: Verdana;
}
.price{
    font-size: 20px;
}
.from{
    font-size: 10px;
}
.details{
    font-size: 14px;
    position: absolute;
    right: 40px;
    bottom: 15px;
}
.tour{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Verdana;
}
footer{
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}


